{% extends 'scrumapp/index.html' %}

{% block content %}
<body>
    <div class="row gy-5 text-center p-3 mb-2 bg-primary text-white">
        <div class="col-10">
            <h1>ScrumApp</h1>
        </div>
        <div class="col-2">
            <p>Logged in: {{user.username}}</p>
        <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm">Logout</a>
        </div>
    </div>

    <div class="user-story-list">
        {% include "scrumapp/User_Story_list.html" %}    
    </div>
    <br>

</body>
{% endblock %} 

