{% extends 'scrumapp/index.html' %}

{% block content %}
<div class="row p-3 mb-2 bg-dark text-white">
  <div class="col-10 text-center">
    <h2>Task List</h2>
  </div>
  <div class="col-2 text-center">
    <a href="{% url 'home'%}" class="btn btn-secondary btn-sm">Home</a>
    <a href="{% url 'task-create' %}" class="btn btn-success btn-sm">Add Task</a>
  </div>


  {% if task_list %}
  <div class="table-responsive">
  <table class="table table-hover overflow-auto">
    <tr class="p-3 mb-2 bg-dark text-white">
        <td>ID</td>
        <td>Task Name</td>
        <td>User story</td>
        <td>Description</td>
        <td>Status</td>
        <td>Developer Assigned</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    {% for task in task_list %}
        <tr class="p-3 mb-2 bg-secondary text-white">
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task-detail' task.id %}" class="link-light">{{ task.name }}</a></td>
            <td><a>{{task.user_story.name }}</a></td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.developer }}</td>
            <td><a href="{% url 'task-update' task.id %}" class="btn btn-primary btn-sm">Update</a></td>
            <td><a href="{% url 'task-delete' task.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no Tasks availible</p>
  {% endif %}
</div>
</div>
{% endblock %}