{% extends 'scrumapp/index.html' %}

{% block content %}
<h2>Create new task</h2>
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="row p-3 mb-2 bg-dark text-white border border-info">
    <form action="" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Submit" class="position-absolute bottom-140 start-50 translate-middle-x btn btn-info btn-sm text-white">
    </form>
  </div>
</div>

{% endblock %}