{% extends 'scrumapp/index.html' %}
{% block content %}
  <h1>User Story List</h1>
  <a href="User_Story/create">Add User Story</a>
  <br>
  <br>

  {% if user_story_list %}
  <table class="table table-striped table-hover">
    <tr>
        <td>ID</td>
        <td>User Story Name</td>
        <td>Description</td>
        <td>Scrum Master Assigned</td>
    </tr>
    {% for User_Story in user_story_list %}
        <tr>
            <td>{{ User_Story.id }}</td>
            <td><a href="{% url 'user-story-detail' User_Story.id %}">{{ User_Story.name }}</a></td>
            <td>{{ User_Story.description }}</td>
            <td>{{ User_Story.scrum_master }}</td>
            <td><a href="{% url 'user-story-update' User_Story.id %}">Update</a></td>
            <td><a href="{% url 'user-story-delete' User_Story.id %}">Delete</a></td>
            
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no User stories availible</p>
  {% endif %}
{% endblock %}