{% extends 'scrumapp/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    
    <div class="form-row">
      <div class="form-group col-md-3">
          {{ form.name|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
          {{ form.description|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
          {{ form.scrum_master|as_crispy_field }}
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
{% endblock %}