{% block user-story %}
  <h1>User Story List</h1>
  <a href="User_Story/create">Add User Story</a>
  <br>
  <br>

  {% if user_story_list %}
  <table>
    <tr>
        <td>ID</td>
        <td>User Story Name</td>
        <td>Description</td>
    </tr>
    {% for User_Story in user_story_list %}
        <tr>
            <td>{{ User_Story.id }}</td>
            <td><a href="User_Story/detail/{{User_Story.id}}">{{ User_Story.name }}</a></td>
            <td>{{ User_Story.description }}</td>
            <td><a href="User_Story/{{User_Story.id}}/delete">Delete</a></td>
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no User stories availible</p>
  {% endif %}
{% endblock %}