{% extends 'scrumapp/index.html' %}

{% block content %}


<div class="row p-3 mb-2 bg-dark text-white">
  <div class="col-10 text-center">
    <h2>User Story List</h2>
  </div>
  <div class="col-2">
    <a href="User_Story/create" class="btn btn-info btn-sm text-white">Add User Story</a>
  </div>
  
  {% if user_story_list %}
  <div class="table-responsive">
  <table class="table table-hover overflow-auto">
    <tr class="p-3 mb-2 bg-dark text-white">
        <td>User Story Name</td>
        <td>Description</td>
        <td>Scrum Master Assigned</td>
        <td>Update Story</td>
        <td>Delete Story</td>
    </tr>
    {% for User_Story in user_story_list %}
        <tr class="p-3 mb-2 bg-secondary text-white">
            <td><a href="{% url 'user-story-detail' User_Story.id %} " class="link-light">{{ User_Story.name }}</a></td>
            <td>{{ User_Story.description }}</td>
            <td>{{ User_Story.scrum_master }}</td>
            <td><a href="{% url 'user-story-update' User_Story.id %}" class="btn btn-primary btn-sm">Update</a></td>
            <td><a href="{% url 'user-story-delete' User_Story.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no User stories availible</p>
  {% endif %}
</div>
</div>
{% endblock %}